### combining alarms into 1 csv

In [1]:
import numpy as np
import json
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [2]:
f0 = "formatted-pre-2-march2019.csv"
f1 = "formatted-pre-2-nisan2019.csv"
f2 = "formatted-pre-2-mayis2019.csv" 
f3 = "formatted-pre-2-haziran2019.csv"

output_f = 'formatted-all-month-alarms.csv' 

path = "./data/new/"
df0 = pd.read_csv(path + f0, parse_dates = ["StartTime","EndTime"])
df1 = pd.read_csv(path + f1, parse_dates = ["StartTime","EndTime"])
df2 = pd.read_csv(path + f2, parse_dates = ["StartTime","EndTime"])
df3 = pd.read_csv(path + f3, parse_dates = ["StartTime","EndTime"])

In [3]:
df0.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,MessageType,StartTime,EndTime,EndMessage
294038,PHD47B,47TIC1511,47TIC1511 F-101 CIKIS PV = 380.0 C HH,192,HH,241,3,0,Activation,2019-03-14 20:29:12,2019-03-16 06:24:56,47TIC1511 F-101 CIKIS PV = 370.0 C HH Recover
294039,PHD47B,47LI850B,47LI850B 47G2 LUBE OIL TANK LEV B PV = 75.0 % LLL,192,LLL,241,3,0,Activation,2019-03-19 10:30:40,2019-03-20 18:31:05,47LI850B 47G2 LUBE OIL TANK LEV B PV = 75.0 % ...

In [4]:
df1.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,MessageType,StartTime,EndTime,EndMessage
632983,PHD47B,47XL1537-ANN,47XL1537-ANN G-109B STATUS ALM,192,ALM,241,3,0,Activation,2019-04-16 22:06:49,2019-04-29 10:44:28,47XL1537-ANN G-109B STATUS NR
632984,PHD47B,48TAHH035-ANN,48TAHH035-ANN 48F-4 COK YUKS.SICAKLIK S/D ALM,192,ALM,241,3,0,Activation,2019-04-08 18:16:33,2019-04-08 18:17:47,48TAHH035-ANN 48F-4 COK YUKS.SICAKLIK S/D NR

In [5]:
df2.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,MessageType,StartTime,EndTime,EndMessage
873546,PHD47B,47HSD-058H-ANN,47HSD-058H-A C-8 SU BOOT H2S YUK ALM,192,ALM,241,3,0,Activation,2019-05-14 16:29:37,2019-05-14 16:36:38,47HSD-058H-A C-8 SU BOOT H2S YUK NR
873547,PHD47B,47PIC004,47PIC004 C-3 BASINC KONTROLU PV = 2.8 Kg/cm2 LO,192,LO,241,3,0,Activation,2019-05-13 14:13:37,2019-05-13 14:27:23,47PIC004 C-3 BASINC KONTROLU PV = 2.9 Kg/cm2 L...

In [6]:
df3.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,MessageType,StartTime,EndTime,EndMessage
919342,PHD47B,47PIC017C-D,47PIC017C-D C-7 BASINC VENT PV = 170.0 Kg/cm2 HI,192,HI,241,3,0,Activation,2019-06-21 01:34:15,2019-06-21 01:47:46,47PIC017C-D C-7 BASINC VENT PV = 169.2 Kg/cm2 ...
919343,PHD47B,47K2ACND11,PSLL_707 FUP ALM,192,ALM,241,3,0,Activation,2019-06-12 14:56:24,2019-06-14 10:09:47,PSLL_707 FUP NR

In [7]:
df = pd.concat([df0,df1, df2, df3], ignore_index=True)
df.to_csv( path + output_f, index=False)
df

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,MessageType,StartTime,EndTime,EndMessage
0,PHD47B,47TI931A,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C IOP,0,IOP,201,3,1,Activation,2019-03-06 13:19:17,2019-03-06 13:19:33,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C I...
1,PHD47B,47TI931A,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C IOP,0,IOP,201,3,1,Activation,2019-03-06 13:19:35,2019-03-06 13:20:22,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C I...
2,PHD47B,47TI931A,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C IOP,0,IOP,201,3,1,Activation,2019-03-06 13:20:24,2019-03-06 13:20:28,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C I...
3,PHD47B,47TI931A,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C IOP,0,IOP,201,3,1,Activation,2019-03-06 13:20:30,2019-03-06 13:20:49,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C I...
4,PHD47B,47TI931A,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C IOP,0,IOP,201,3,1,Activation,2019-03-06 13:20:51,2019-03-06 13:21:03,47TI931A C5 1.YTK GIRDISCAP SICAK PV = 691 C I...
...,...,...,...,...,...,...,...,...,...,...,...,...
2719912,PHD47B,47FIC1701,47FIC1701 DEBUTT.N.SPLE SARJ PV = 15.0 m3/h LO,192,LO,241,3,0,Activation,2019-06-03 03:00:41,2019-06-03 03:01:18,47FIC1701 DEBUTT.N.SPLE SARJ PV = 16.1 m3/h LO...
2719913,PHD47B,47FIC037,47FIC037 PLT5 HVGO PV = 38.5 m3/h LO,192,LO,241,3,0,Activation,2019-05-31 20:40:10,2019-06-01 06:28:39,47FIC037 PLT5 HVGO PV = 42.7 m3/h LO Recover
2719914,PHD47B,47SI003,47SI003 K2-C DEVRI PV = 198 RPM LL,192,LL,241,3,0,Activation,2019-06-13 14:58:33,2019-06-17 13:53:42,47SI003 K2-C DEVRI PV = 283 RPM LL Recover
2719915,PHD47B,47PIC017C-D,47PIC017C-D C-7 BASINC VENT PV = 170.0 Kg/cm2 HI,192,HI,241,3,0,Activation,2019-06-21 01:34:15,2019-06-21 01:47:46,47PIC017C-D C-7 BASINC VENT PV = 169.2 Kg/cm2 ...
2719916,PHD47B,47K2ACND11,PSLL_707 FUP ALM,192,ALM,241,3,0,Activation,2019-06-12 14:56:24,2019-06-14 10:09:47,PSLL_707 FUP NR

# Concatinating Operator Files

In [9]:
f1 = "operator-pre-1-MarchOperation_v2.csv"
f2 = "operator-pre-1-AprilOperation_v2.csv"
f3= "operator-pre-1-MayOperation_v2.csv"
f4 = "operator-pre-1-JuneOperation_v2.csv"

output_f = 'operator-all-month-actions.csv' 

path = "./data/new/"
df0 = pd.read_csv(path + f1, parse_dates = ["EventTime"])
df1 = pd.read_csv(path + f2, parse_dates = ["EventTime"])
df2 = pd.read_csv(path + f3, parse_dates = ["EventTime"])
df3 = pd.read_csv(path + f4, parse_dates = ["EventTime"])

df = pd.concat([df0,df1, df2, df3], ignore_index=True)
df.to_csv( path + output_f, index=False)
df

,MachineName,SourceName,EventTime,Severity,Message,Mask,NewState,EventType,EventCategory,AckReq,ActorID,Attributes,Area
0,PHD47B,47TIC259,2019-03-07 00:35:24,200,47TIC259 C5 I.YATAK GIRIS SICAK. SV = 393.8 C ...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0101"",""ONUSER"",""HIS0859"",""47TIC259"",...",FCS0101
1,PHD47B,47TIC2078,2019-03-07 00:41:22,200,47TIC2078 E205 CIKIS HAM H2 AUT old=MAN [ ONUS...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5635,""FCS0104"",""ONUSER"",""HIS0860"",""47TIC2078""...",FCS0104
2,PHD47B,47TIC2078,2019-03-07 00:41:38,200,47TIC2078 E205 CIKIS HAM H2 SV = 30.0 C old= 3...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0104"",""ONUSER"",""HIS0860"",""47TIC2078""...",FCS0104
3,PHD47B,47TIC2078,2019-03-07 00:41:13,200,47TIC2078 E205 CIKIS HAM H2 MV = 60.0 % old= 6...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0104"",""ONUSER"",""HIS0860"",""47TIC2078""...",FCS0104
4,PHD47B,47TIC2078,2019-03-07 00:40:41,200,47TIC2078 E205 CIKIS HAM H2 SV = 30.0 C old= 3...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0104"",""ONUSER"",""HIS0860"",""47TIC2078""...",FCS0104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56651,PHD47B,48FFIC031,2019-06-30 17:33:15,200,48FFIC031 INSINERAT. YAKMA HAVA. MV = 39.5 % o...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0105"",""ONUSER"",""HIS0860"",""48FFIC031""...",FCS0105
56652,PHD47B,48LI015,2019-06-30 21:22:28,200,48LI015 S1 SATIS KUYUSU PL = 67.8 % old= 72.2 ...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0105"",""ONUSER"",""HIS0860"",""48LI015"",""...",FCS0105
56653,PHD47B,48LI015,2019-06-30 21:22:32,200,48LI015 S1 SATIS KUYUSU LL = 67.5 % old= 72.0 ...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0105"",""ONUSER"",""HIS0860"",""48LI015"",""...",FCS0105
56654,PHD47B,48LI015,2019-06-30 21:24:04,200,48LI015 S1 SATIS KUYUSU PL = 67.3 % old= 67.8 ...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0105"",""ONUSER"",""HIS0860"",""48LI015"",""...",FCS0105
56655,PHD47B,48LI015,2019-06-30 21:24:07,200,48LI015 S1 SATIS KUYUSU LL = 67.0 % old= 67.5 ...,4,1,OPC_TRACKING_EVENT,Operation record,False,ONUSER,"[5633,""FCS0105"",""ONUSER"",""HIS0860"",""48LI015"",""...",FCS0105