### Summary
Concatination of raw csv files into 1 file

In [1]:
import numpy as np
import json
import pandas as pd
from datetime import datetime
from dateutil.parser import parse

In [2]:
f0 = "formatted-pre-2-march2019.csv"
f1 = "formatted-pre-2-nisan2019.csv"
f2 = "formatted-pre-2-mayis2019.csv" 
f3 = "formatted-pre-2-haziran2019.csv"

output_f = 'formatted-main-alarms.csv' 

path = "./data/new/"
df0 = pd.read_csv(path + f0, parse_dates = ["StartTime","EndTime"])
df1 = pd.read_csv(path + f1, parse_dates = ["StartTime","EndTime"])
df2 = pd.read_csv(path + f2, parse_dates = ["StartTime","EndTime"])
df3 = pd.read_csv(path + f3, parse_dates = ["StartTime","EndTime"])

In [3]:
df0.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,StartTime,EndTime,EndMessage
300882,PHD47B,47FI3016,47FI3016 MANIF.YAG. KOND.URETIMI PV = 20.3 m3/...,0,IOP,249,3,1,2019-03-18 01:10:15,2019-03-18 01:10:17,47FI3016 MANIF.YAG. KOND.URETIMI PV = 21.0 m3/...
300883,PHD47B,47FI3016,47FI3016 MANIF.YAG. KOND.URETIMI PV = 20.7 m3/...,0,IOP,201,3,1,2019-03-18 21:04:49,2019-03-18 21:04:50,47FI3016 MANIF.YAG. KOND.URETIMI PV = 21.1 m3/...

In [4]:
df1.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,StartTime,EndTime,EndMessage
633566,PHD47B,47FI2010BCD,47FI2010BCD 47F-201 DUSUK HC KORUMAS PV = 0.0 ...,192,LTRP,241,3,0,2019-04-30 12:26:16,2019-04-30 16:55:11,47FI2010BCD 47F-201 DUSUK HC KORUMAS PV =42866...
633567,PHD47B,47FI2010BCD,47FI2010BCD 47F-201 DUSUK HC KORUMAS PV = 0.0 ...,192,LLL,241,3,0,2019-04-30 12:26:16,2019-04-30 16:55:11,47FI2010BCD 47F-201 DUSUK HC KORUMAS PV =42866...

In [5]:
df2.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,StartTime,EndTime,EndMessage
357723,PHD47B,48TI004,48TI004 F-1 RX. YAN.BOLGESI PV = 1203 C HI,192,HI,241,3,0,2019-05-24 10:29:01,2019-05-24 11:17:16,48TI004 F-1 RX. YAN.BOLGESI PV = 958 C HI Recover
357724,PHD47B,48TI004,48TI004 F-1 RX. YAN.BOLGESI PV = 1203 C HH,192,HH,241,3,0,2019-05-24 10:29:01,2019-05-24 11:17:16,48TI004 F-1 RX. YAN.BOLGESI PV = 958 C HH Recover

In [6]:
df3.tail(2)

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,StartTime,EndTime,EndMessage
919453,PHD47B,47PIC1760,47PIC1760 E-132 SOGUK CIKIS TARAFI PV = 3.00 K...,192,LL,241,3,0,2019-06-29 06:23:58,2019-06-29 07:09:34,47PIC1760 E-132 SOGUK CIKIS TARAFI PV = 3.14 K...
919454,PHD47B,47TI1003,47TI1003 50 STEAM PV = 145.0 C LO,192,LO,241,3,0,2019-06-29 06:21:24,2019-06-29 07:19:23,47TI1003 50 STEAM PV = 149.0 C LO Recover

In [7]:
df = pd.concat([df0,df1, df2, df3], ignore_index=True)
df.to_csv( path + output_f, index=False)
df

,MachineName,SourceName,Message,Quality,Condition,Mask,NewState,Status,StartTime,EndTime,EndMessage
0,PHD47B,48FIX2040,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IOP-,192,IOP-,193,3,1,2019-03-06 13:19:00,2019-03-06 13:19:02,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IO...
1,PHD47B,48FIX2040,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IOP-,192,IOP-,193,3,1,2019-03-06 13:19:24,2019-03-06 13:19:26,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IO...
2,PHD47B,48FIX2040,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IOP-,192,IOP-,193,3,1,2019-03-06 13:19:35,2019-03-06 13:19:36,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IO...
3,PHD47B,48FIX2040,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IOP-,192,IOP-,193,3,1,2019-03-06 13:19:38,2019-03-06 13:19:39,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IO...
4,PHD47B,48FIX2040,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IOP-,192,IOP-,193,3,1,2019-03-06 13:19:47,2019-03-06 13:19:48,48FIX2040 C206'DAN C4'E A.GAZ CPV = -1 m3/h IO...
...,...,...,...,...,...,...,...,...,...,...,...
2211627,PHD47B,47XL2016A-ANN,47XL2016A-AN 47E-205A STATUS ALM,192,ALM,193,3,0,2019-06-25 14:45:09,2019-06-25 14:48:37,47XL2016A-AN 47E-205A STATUS NR
2211628,PHD47B,47APC_NS_ON-ANN,47APC_NS_ON- 47NAFTASPLIT APC DEVREDE ALM,192,ALM,241,3,0,2019-06-28 10:36:36,2019-06-28 10:36:37,47APC_NS_ON- 47NAFTASPLIT APC DEVREDE NR
2211629,PHD47B,47PIC1760,47PIC1760 E-132 SOGUK CIKIS TARAFI PV = 3.00 K...,192,LO,241,3,0,2019-06-29 06:23:58,2019-06-29 07:09:34,47PIC1760 E-132 SOGUK CIKIS TARAFI PV = 3.14 K...
2211630,PHD47B,47PIC1760,47PIC1760 E-132 SOGUK CIKIS TARAFI PV = 3.00 K...,192,LL,241,3,0,2019-06-29 06:23:58,2019-06-29 07:09:34,47PIC1760 E-132 SOGUK CIKIS TARAFI PV = 3.14 K...
2211631,PHD47B,47TI1003,47TI1003 50 STEAM PV = 145.0 C LO,192,LO,241,3,0,2019-06-29 06:21:24,2019-06-29 07:19:23,47TI1003 50 STEAM PV = 149.0 C LO Recover